@model DepartmentViewModel
@{
    ViewData["Title"] = "Edit";
}
<div>
    <h1>Create Department : @Model.Name</h1>
</div>
<div asp-validation-summary="All"></div>
<div>
    <form method="post" asp-action="Edit">
       
        <partial name="PartialView/_Create_Edit_PartialView" model="@Model" />

        <button type="submit" class="btn btn-outline-info">Edit</button>
        <a asp-action="Index" class="btn btn-outline-info">Cancel</a>
    </form>
</div>

@* clien side validation or Front end validation or jquery validation *@
@section ClientSidValidation {
    <partial name="_ValidationScriptsPartial" />

}