@{
	ViewData["Title"] = "CheckYourInBox";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div>
			Password Reset Link Has Been Sent To Your Mail ,Pleas Check Your Inbox
			<a href="https://mail.google.com/mail/u/0/?hl=ar#inbox">Go To Your Inbox</a>
		</div>
	</div>

</div>
@section validation {
	<partial name="_ValidationScriptsPartial"></partial>

}
