@model ForgetPasswordViewModel
@{
	ViewData["Title"] = "ForgetPassword";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div asp-validation-summary="All"></div>

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendEmailSMS" Method="Post">
			<input class="text" asp-for="Email" placeholder="Email Address" required="">
			<span asp-validation-for="Email" class="text-danger"></span>
			<input type="submit" value="Reset Password">
			<p><a asp-action="Login">Login!</a></p>
		</form>
	</div>
</div>
@section validation {
	<partial name="_ValidationScriptsPartial"></partial>

}
