 @model ResetPasswordViewModel
@{
	ViewData["Title"] = "ResetPassword";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div asp-validation-summary="All"></div>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword" Method="post">

			<input class="text" asp-for="Password" placeholder="Password" required="">
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />

			<input class="text" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			<br />

			<input type="submit" value="Change Password">
		</form>
	</div>
</div>
@section validation {
	<partial name="_ValidationScriptsPartial"></partial>
}