@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Create New Employee</h1>
</div>
<div>
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <partial name="PartialView/_Create_Edit_PartialView" model="@Model"/>
        <button type="submit" class="btn btn-outline-info">Create</button>
        <a asp-action="Index" class="btn btn-outline-info">Cancel</a>
    </form>
</div>
@* clien side validation or Front end validation or jquery validation *@
@section ClientSidValidation{
    <partial name="_ValidationScriptsPartial" />

}
