@model RoleViewModel
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create New Role</h1>
<form method="Post" asp-action="Create" enctype="multipart/form-data">

	<partial name="PartialView/Create_EtidPartialView"></partial>

	<div class="mt-5">
		<input type="submit" value="Add Role" class="btn btn-info" />
		<a asp-action="Index" class="btn btn-info">Cancel</a>
	</div>
</form>
