@model UserViewModel
@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Employee  : @Model.FirstName @Model.LastName </h1>
@* @if (Model.Imagename is not null)
{
	//<div class="form-control">
	<img class="mt-3" src="~/Files/Images/@Model.Imagename" width="200" height="200" alt="Employee's Image'" class="rounded" />
	//</div>
} *@

<div asp-validation-summary="All"></div>
<form Method="Post" asp-action="Edit" enctype="multipart/form-data">

	<div class="form-grop">

		<label class="col-form-label" asp-for="FirstName"></label>
		<input class="form-control" asp-for="FirstName" />
	</div>
	<div class="form-grop">

		<label class="col-form-label" asp-for="LastName"></label>
		<input class="form-control" asp-for="LastName" />
	</div>
	<div class="form-grop">

		<label class="col-form-label" asp-for="PhoneNumber"></label>
		<input class="form-control" asp-for="PhoneNumber" />

	</div>
	<div class="mt-5">
		<input type="submit" value="Save Changes" class="btn btn-info" />
		<a asp-action="Index" class="btn btn-info">Cancel</a>
	</div>

</form>
